
<section class="admin-dashboard">
  <b-container>
    <b-row>
      <b-col cols="4">
        <b-list-group id="chatList">
          <b-list-group-item
            class="flex-column align-items-start"
            button
            @click="selectChat(msg.id)"
            v-for="msg in chatList">
              <small>{{ msg.start_date | formatDate }}</small>
              <h5 class="mb-1">{{ msg.username }}</h5>
          </b-list-group-item>
        </b-list-group>
      </b-col>
      <b-col cols="8">
        <ChatDialog 
          v-if="selectedChat !== null"
          :messagesList="messages"
          @onMessageWasSent="handleMessageReceived"/>
      </b-col>
    </b-row>
  </b-container>
</section>

